config/n8n/n8n_workflow_api.json
{
  "name": "TVPL Crawler - API Based (Simplified)",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://tvpl-api:8000/links-basic",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"url\": \"https://thuvienphapluat.vn/page/tim-van-ban.aspx?keyword=&match=True&area=0\", \"start_page\": 1, \"end_page\": 1, \"only_basic\": true, \"output\": \"/app/data/links.json\"}",
        "options": {
          "retry": {
            "maxRetries": 2,
            "retryInterval": 5000
          }
        }
      },
      "name": "Crawl Links",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData"
      },
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "url": "http://tvpl-api:8000/crawl-documents",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({links: $json.data, concurrency: 2, timeout_ms: 30000, reuse_session: false, headed: false}) }}",
        "options": {
          "timeout": 900000
        }
      },
      "name": "Crawl Docs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "echo '[OK] $(date -Iseconds) - TVPL import completed successfully' >> /data/import_log.txt"
      },
      "name": "Success Log",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Crawl Links", "type": "main", "index": 0}]]
    },
    "Crawl Links": {
      "main": [[{"node": "Aggregate", "type": "main", "index": 0}]]
    },
    "Aggregate": {
      "main": [[{"node": "Crawl Docs", "type": "main", "index": 0}]]
    },
    "Crawl Docs": {
      "main": [[{"node": "Success Log", "type": "main", "index": 0}]]
    }
  }
}
